version: '3.8'

services:
  ntu-vm-soft40051:
    image: pedrombmachado/ntu_lubuntu:soft40051
    container_name: ntu-vm-soft40051
    ports:
      - "3390:3389"
      - "2022:22"
    environment:
      DB_HOST: lamp-server
      DB_PORT: 3306
      DB_NAME: cloud_gui
      DB_USER: root
      DB_PASS: changeme
    volumes:
      - docker_soft40051:/home/ntu
    networks:
      - soft40051_network

  cloud-gui:
    build:
      context: ./cloud-gui
    container_name: cloud-gui
    ports:
      - "8080:8080"
    depends_on:
      - cloudlb
      - lamp-server
    networks:
      - cloud-network

  cloudlb:
    build:
      context: ./cloudlb
    container_name: cloudlb
    ports:
      - "8081:8081"
    environment:
      - SCHEDULER=ROUND_ROBIN
      - MQTT_BROKER_URL=mqtt-broker:1883
    depends_on:
      - mqtt-broker
      - lamp-server
    networks:
      - cloud-network

  aggregator:
    build:
      context: ./AggService
    image: aggservice:latest
    container_name: aggregator
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://lamp-server:3306/cloud_gui?useSSL=false&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: changeme
      SFTP_HOSTS: soft40051-files-container1,soft40051-files-container2,soft40051-files-container3,soft40051-files-container4
      SFTP_USERNAME: user
      SFTP_PASSWORD: password
    networks:
      - soft40051_network

  aggservice:
    build:
      context: ./AggService
    container_name: aggservice
    scale: 2
    ports:
      - "8082-8083:8082-8083"
    depends_on:
      - lamp-server
    networks:
      - cloud-network

  soft40051-files-container1:
    image: pedrombmachado/simple-ssh-container:base
    container_name: soft40051-files-container1
    ports:
      - "4848:22"
    networks:
      - soft40051_network

  soft40051-files-container2:
    image: pedrombmachado/simple-ssh-container:base
    container_name: soft40051-files-container2
    ports:
      - "4849:22"
    networks:
      - soft40051_network

  soft40051-files-container3:
    image: pedrombmachado/simple-ssh-container:base
    container_name: soft40051-files-container3
    ports:
      - "4850:22"
    networks:
      - soft40051_network

  soft40051-files-container4:
    image: pedrombmachado/simple-ssh-container:base
    container_name: soft40051-files-container4
    ports:
      - "4851:22"
    networks:
      - soft40051_network

  lamp-server:
    image: mysql:8.0
    container_name: lamp-server
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cloud
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    networks:
      - cloud-network

  mqtt-broker:
    image: eclipse-mosquitto:2.0
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - cloud-network

  host-manager:
    build:
      context: ./hostmanager
    image: hostmanager:latest
    container_name: host-manager
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - soft40051_network

  hostmanager:
    build:
      context: ./hostmanager
    container_name: hostmanager
    environment:
      - MQTT_BROKER_URL=mqtt-broker:1883
    depends_on:
      - mqtt-broker
    networks:
      - cloud-network

  jenkins-soft40051:
    image: jenkins/jenkins:latest
    container_name: jenkins-soft40051
    ports:
      - "8081:8080"
      - "50001:50000"
    volumes:
      - jenkins_soft40051:/var/jenkins_home
    environment:
      GITHUB_REPO: "https://github.com/mdor21/soft40051-cloud"
    networks:
      - soft40051_network

  gitea:
    image: docker.gitea.com/gitea:latest
    container_name: gitea
    ports:
      - "3000:3000"
      - "2222:22"
    volumes:
      - gitea_data:/data
      - gitea_config:/etc/gitea
    networks:
      - soft40051_network

networks:
  soft40051_network:
    driver: bridge
  cloud-network:
    driver: bridge

volumes:
  docker_soft40051:
  lamp:
  jenkins_soft40051:
  gitea_data:
  gitea_config:
