version: '3.8'

services:
  ntu-vm-soft40051:
    build:
      context: ./cloud-gui
    image: cloud-gui:latest
    container_name: ntu-vm-soft40051
    ports:
      - "3390:3389"
      - "2022:22"
    environment:
      DB_HOST: lamp-server
      DB_PORT: 3306
      DB_NAME: cloud_gui
      DB_USER: admin
      DB_PASS: changeme
    networks:
      - soft40051_network

  lb:
    build:
      context: ./cloudlb
    image: cloudlb:latest
    container_name: load-balancer
    networks:
      - soft40051_network

  aggregator:
    build:
      context: ./AggService
    image: aggservice:latest
    container_name: aggregator
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://lamp-server:3306/cloud_gui?useSSL=false&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: changeme
      SFTP_HOSTS: soft40051-files-container1,soft40051-files-container2,soft40051-files-container3,soft40051-files-container4
      SFTP_USERNAME: user
      SFTP_PASSWORD: password
    networks:
      - soft40051_network

  soft40051-files-container1:
    image: pedrombmachado/simple-ssh-container:base
    container_name: soft40051-files-container1
    ports:
      - "4848:22"
    networks:
      - soft40051_network

  soft40051-files-container2:
    image: pedrombmachado/simple-ssh-container:base
    container_name: soft40051-files-container2
    ports:
      - "4849:22"
    networks:
      - soft40051_network

  soft40051-files-container3:
    image: pedrombmachado/simple-ssh-container:base
    container_name: soft40051-files-container3
    ports:
      - "4850:22"
    networks:
      - soft40051_network

  soft40051-files-container4:
    image: pedrombmachado/simple-ssh-container:base
    container_name: soft40051-files-container4
    ports:
      - "4851:22"
    networks:
      - soft40051_network

  lamp-server:
    image: mysql:5.7
    container_name: lamp-server
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: changeme
      MYSQL_DATABASE: cloud_gui
    networks:
      - soft40051_network

  mqtt-broker:
    image: eclipse-mosquitto
    container_name: mqtt-broker
    ports:
      - "1883:1883"
    networks:
      - soft40051_network

  host-manager:
    build:
      context: ./hostmanager
    image: hostmanager:latest
    container_name: host-manager
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - soft40051_network

networks:
  soft40051_network:
    driver: bridge
