version: '3.8'

services:
  # Main Application / GUI
  ntu-vm-soft40051:
    image: pedrombmachado/ntu_lubuntu:soft40051
    container_name: ntu-vm-soft40051
    ports:
      - "3390:3389"  # RDP
      - "2022:22"    # SSH
    networks:
      - soft40051_network
    volumes:
      - ./app:/workspace
      - ./config:/config
    environment:
      - DISPLAY=:1
      - LOAD_BALANCER_HOST=load-balancer
      - LOAD_BALANCER_PORT=6869
    depends_on:
      - load-balancer
      - lamp-server
      - mqtt-broker
    restart: unless-stopped

  # Load Balancer
  load-balancer:
    image: pedrombmachado/ntu_lubuntu:soft40051
    container_name: load-balancer
    expose:
      - "6869"
    networks:
      - soft40051_network
    volumes:
      - ./load-balancer:/app
    environment:
      - AGGREGATOR_HOST=aggregator
      - AGGREGATOR_PORT=9000
      - MQTT_BROKER_HOST=mqtt-broker
      - MQTT_BROKER_PORT=1883
    command: java -jar /app/load-balancer.jar
    depends_on:
      - aggregator
      - mqtt-broker
    restart: unless-stopped

  # Aggregator Service
  aggregator:
    image: pedrombmachado/ntu_lubuntu:soft40051
    container_name: aggregator
    expose:
      - "9000"
    networks:
      - soft40051_network
    volumes:
      - ./aggregator:/app
      - ./storage:/storage
    env_file:
      - ./.env
    environment:
      - MYSQL_HOST=lamp-server
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=dbtutorial
      - MYSQL_USER=soft40051
      - MYSQL_PASSWORD=cloud2024
      - STORAGE_NODES=soft40051-files-container1,soft40051-files-container2,soft40051-files-container3,soft40051-files-container4
      - SFTP_USER=root
    depends_on:
      - lamp-server
      - soft40051-files-container1
      - soft40051-files-container2
      - soft40051-files-container3
      - soft40051-files-container4
    restart: unless-stopped

  # MySQL Database
  lamp-server:
    image: mysql:8.0
    container_name: lamp-server
    ports:
      - "3306:3306"
    networks:
      - soft40051_network
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_DATABASE=dbtutorial
      - MYSQL_USER=soft40051
      - MYSQL_PASSWORD=cloud2024
    volumes:
      - ./db-init:/docker-entrypoint-initdb.d
    restart: unless-stopped

  # MQTT Broker
  mqtt-broker:
    image: eclipse-mosquitto:2
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - soft40051_network
    restart: unless-stopped

  # Storage Nodes
  soft40051-files-container1:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: soft40051-files-container1
    ports:
      - "4848:22"
    networks:
      - soft40051_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER_NAME=root
      - USER_PASSWORD=${SFTP_PASS}
      - SUDO_ACCESS=true
    volumes:
      - ./storage/node1:/data
    restart: unless-stopped

  soft40051-files-container2:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: soft40051-files-container2
    ports:
      - "4849:22"
    networks:
      - soft40051_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER_NAME=root
      - USER_PASSWORD=${SFTP_PASS}
      - SUDO_ACCESS=true
    volumes:
      - ./storage/node2:/data
    restart: unless-stopped

  soft40051-files-container3:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: soft40051-files-container3
    ports:
      - "4850:22"
    networks:
      - soft40051_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER_NAME=root
      - USER_PASSWORD=${SFTP_PASS}
      - SUDO_ACCESS=true
    volumes:
      - ./storage/node3:/data
    restart: unless-stopped

  soft40051-files-container4:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: soft40051-files-container4
    ports:
      - "4851:22"
    networks:
      - soft40051_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER_NAME=root
      - USER_PASSWORD=${SFTP_PASS}
      - SUDO_ACCESS=true
    volumes:
      - ./storage/node4:/data
    restart: unless-stopped

  # Jenkins CI/CD
  jenkins-soft40051:
    image: jenkins/jenkins:lts
    container_name: jenkins-soft40051
    ports:
      - "8081:8080"
      - "50001:50000"
    networks:
      - soft40051_network
    volumes:
      - ./jenkins_home:/var/jenkins_home
    restart: unless-stopped

  # Gitea Version Control
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    ports:
      - "3000:3000"
      - "2222:22"
    networks:
      - soft40051_network
    volumes:
      - ./gitea:/data
    restart: unless-stopped

networks:
  soft40051_network:
    driver: bridge
