version: '3.8'

services:
  aggregator:
    build: ./AggService
    container_name: aggregator
    restart: on-failure
    environment:
      - DB_HOST=lamp-server
      - DB_PORT=3306
      - DB_NAME=soft40051_db
      - DB_USER=user
      - DB_PASS=password
      - FILE_SERVER_HOSTS=soft40051-files-container1,soft40051-files-container2,soft40051-files-container3,soft40051-files-container4
      - AGGSERVICE_PORT=9000
      - SFTP_USER=user
      - SFTP_PASS=password
    ports:
      - "9000:9000"
    networks:
      - soft40051_network

  lamp-server:
    image: mattrayner/lamp:latest-1804
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=soft40051_db
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
    volumes:
      - lamp-data:/var/lib/mysql
    networks:
      - soft40051_network

  soft40051-files-container1:
    image: pedrombmachado/simple-ssh-container:base
    ports:
      - "4848:22"
    networks:
      - soft40051_network

  soft40051-files-container2:
    image: pedrombmachado/simple-ssh-container:base
    ports:
      - "4849:22"
    networks:
      - soft40051_network

  soft40051-files-container3:
    image: pedrombmachado/simple-ssh-container:base
    ports:
      - "4850:22"
    networks:
      - soft40051_network

  soft40051-files-container4:
    image: pedrombmachado/simple-ssh-container:base
    ports:
      - "4851:22"
    networks:
      - soft40051_network

networks:
  soft40051_network:

volumes:
  lamp-data:
