version: '3.8'

services:
  aggservice:
    build: ./AggService
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=lamp-server
      - DB_PORT=3306
      - DB_NAME=cloud_db
      - DB_USER=root
      - DB_PASS=password
      - FILE_SERVER_HOSTS=soft40051-files-container1,soft40051-files-container2,soft40051-files-container3,soft40051-files-container4
      - AGGSERVICE_PORT=8080
      - CHUNK_SIZE=1024
      - SFTP_USER=user
      - SFTP_PASS=pass
      - SFTP_TIMEOUT=30000
    networks:
      - soft40051_network

  lamp-server:
    image: mattrayner/lamp:latest-1804
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - lamp-data:/var/lib/mysql
    networks:
      - soft40051_network

  soft40051-files-container1:
    image: pedrombmachado/simple-ssh-container:base
    ports:
      - "4848:22"
    networks:
      - soft40051_network

  soft40051-files-container2:
    image: pedrombmachado/simple-ssh-container:base
    ports:
      - "4849:22"
    networks:
      - soft40051_network

  soft40051-files-container3:
    image: pedrombmachado/simple-ssh-container:base
    ports:
      - "4850:22"
    networks:
      - soft40051_network

  soft40051-files-container4:
    image: pedrombmachado/simple-ssh-container:base
    ports:
      - "4851:22"
    networks:
      - soft40051_network

networks:
  soft40051_network:

volumes:
  lamp-data:
