version: '3.8'

services:
  ntu-vm-soft40051:
    image: pedrombmachado/ntu_lubuntu:soft40051
    container_name: ntu-vm-soft40051
    ports:
      - "3390:3389"
      - "2022:22"
    networks:
      - soft40051_network
    volumes:
      - ./app:/workspace
      - ./config:/config
    environment:
      - DISPLAY=:1
      - LOAD_BALANCER_HOST=load-balancer
      - LOAD_BALANCER_PORT=${LB_PORT}
    depends_on:
      - load-balancer
      - lamp-server
      - mqtt-broker
    restart: unless-stopped

  load-balancer:
    image: pedrombmachado/ntu_lubuntu:soft40051
    container_name: load-balancer
    expose:
      - "${LB_PORT}"
    networks:
      - soft40051_network
    volumes:
      - ./load-balancer:/app
    environment:
      - AGGREGATOR_HOST=aggregator
      - AGGREGATOR_PORT=${AGG_PORT}
      - MQTT_BROKER_HOST=mqtt-broker
      - MQTT_BROKER_PORT=1883
    command: java -jar /app/load-balancer.jar
    depends_on:
      - aggregator
      - mqtt-broker
    restart: unless-stopped

  aggregator:
    image: pedrombmachado/ntu_lubuntu:soft40051
    container_name: aggregator
    expose:
      - "${AGG_PORT}"
    networks:
      - soft40051_network
    volumes:
      - ./aggregator:/app
      - ./storage:/storage
    env_file:
      - ./.env
    environment:
      - MYSQL_HOST=lamp-server
      - MYSQL_PORT=3306
      - MYSQL_DATABASE=${MYSQL_DB}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - STORAGE_NODES=soft40051-files-container1,soft40051-files-container2,soft40051-files-container3,soft40051-files-container4
      - SFTP_USER=root
    depends_on:
      - lamp-server
      - soft40051-files-container1
      - soft40051-files-container2
      - soft40051-files-container3
      - soft40051-files-container4
    restart: unless-stopped

  lamp-server:
    image: mattrayner/lamp:latest-1804
    container_name: lamp-server
    ports:
      - "3306:3306"
    networks:
      - soft40051_network
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DB}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./mysql-data:/var/lib/mysql
    restart: unless-stopped

  mqtt-broker:
    image: pedrombmachado/mqtt:base
    container_name: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
      - soft40051_network
    volumes:
      - ./mqtt/mosquitto.conf:/mosquitto/config/mosquitto.conf
    restart: unless-stopped

  soft40051-files-container1:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: soft40051-files-container1
    ports:
      - "4848:22"
    networks:
      - soft40051_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER_NAME=root
      - USER_PASSWORD=${SFTP_PASS}
      - SUDO_ACCESS=true
    volumes:
      - ./storage/node1:/data
    restart: unless-stopped

  soft40051-files-container2:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: soft40051-files-container2
    ports:
      - "4849:22"
    networks:
      - soft40051_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER_NAME=root
      - USER_PASSWORD=${SFTP_PASS}
      - SUDO_ACCESS=true
    volumes:
      - ./storage/node2:/data
    restart: unless-stopped

  soft40051-files-container3:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: soft40051-files-container3
    ports:
      - "4850:22"
    networks:
      - soft40051_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER_NAME=root
      - USER_PASSWORD=${SFTP_PASS}
      - SUDO_ACCESS=true
    volumes:
      - ./storage/node3:/data
    restart: unless-stopped

  soft40051-files-container4:
    image: lscr.io/linuxserver/openssh-server:latest
    container_name: soft40051-files-container4
    ports:
      - "4851:22"
    networks:
      - soft40051_network
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - USER_NAME=root
      - USER_PASSWORD=${SFTP_PASS}
      - SUDO_ACCESS=true
    volumes:
      - ./storage/node4:/data
    restart: unless-stopped

  jenkins-soft40051:
    image: jenkins/jenkins:lts
    container_name: jenkins-soft40051
    ports:
      - "8081:8080"
      - "50001:50000"
    networks:
      - soft40051_network
    volumes:
      - ./jenkins_home:/var/jenkins_home
    restart: unless-stopped

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    ports:
      - "3000:3000"
      - "2222:22"
    networks:
      - soft40051_network
    volumes:
      - ./gitea:/data
    restart: unless-stopped

networks:
  soft40051_network:
    driver: bridge
